<!-- BEGIN | Header -->
<header class="ht-header">
    <div class="container">
        <nav class="navbar navbar-default navbar-custom">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header logo">
                <div class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <div id="nav-icon1">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
                <a href="index.ejs"><img class="logo" src="/images/Filmology.png" alt="" width="190" height="80" /></a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse flex-parent" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav flex-child-menu menu-left">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li class="dropdown first">
                        <a href="/">
                          Home 
                        </a>
                      </li>
                    <li class="dropdown first">
                        <a href="/movies">
                            movies
                        </a>
                    </li>

                    <li class="dropdown first">
                        <a href="/news">
                            news 
                        </a>
                    </li>
               
                </ul>
                   

                <ul class="nav navbar-nav flex-child-menu menu-right">
                    <li>

                        <div class="social-link">
                            <a class="btn btn-default dropdown-toggle lv1">Follow us:&emsp;</a>
                            <a href="#"><i class="ion-social-facebook"></i></a>
                            <a href="#"><i class="ion-social-twitter"></i></a>
                            <a href="#"><i class="ion-social-googleplus"></i></a>
                            <a href="#"><i class="ion-social-youtube"></i></a>

                    </li>
                    <% if (isLoggedIn===false) { %>
                    <li class="loginLink"><a href="#">LOG In</a></li>
                    <li class="btn signupLink"><a href="#">sign up</a></li>
                    <% } else { %>
                        <li class="dropdown first">
                            <a href="/profile">
                                Profile
                            </a>
                        </li>
                        <li class=" btn ">
                            <a href="/logout">
                                LOGOUT 
                            </a>
                        </li>
                        <% } %> 

                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>

        <!-- top search form -->
        <form action="/search" method="GET">
            <div class="top-search">
                <input type="text" name="query" placeholder="Search for a movie..." />
            </div>
        </form>
        
        
    </div>
</header>
<!-- END | Header -->