    <!-- preloading-->
    <div id="preloader">
      <img class="logo" src="images/Filmology.png" alt="" width="200" height="80" />
      <div id="status">
        <span></span>
        <span></span>
      </div>
    </div>
    <!--end of preloading -->